/* font-family: 'Lato', sans-serif; */
:root{
    --blue: #294A5A;
}

#title h1{
    font-weight: 700;
}

#main{
    background-color: #eae0d5;
}

#main h1, #cityName{
    font-family: 'Lato', sans-serif;
    font-style: italic;
    color: #294A5A;
}

#title h5,#main p, #cityName, #currentTemp{
    font-family: 'Lato', sans-serif;
}

#cityName{
    font-size: 30px;
}

#currentTemp{
    font-size: 40px;
}

#date{
    font-size: 20px;
}

.card{
    margin: 20vh 3vw;
}

.card ul{
    list-style: none;
    padding: 0px;
}

.hidden{
    display: none;
}

.display{
    display: block;
}

.form-control{
    border: none;
}

.form-control:focus {
    box-shadow: none;
    border: none;
}

.btn:focus {
    box-shadow: none;
}

#searchBtn{
    background-color: #294A5A;
}

#searchHistory{
    list-style: none;
    padding: 0px;
    padding: 0px 8px;
}

#searchHistory li{
    border-bottom: 1px solid gray;
}

#clearHistory{
    font-style: italic;
    font-weight: 300;
    padding: 0px 8px;
    float: right;
}

#uv{
    padding: 3px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    #title{
        text-align: center;
    }
    .card{
        margin: 10vh 3vw;
    }
    #cityName{
        font-size: 20px;
    }
    
    #currentTemp{
        font-size: 30px;
    }
    
    #date{
        font-size: 15px;
    }
}

@media (max-width: 426px){
    .card{
        margin: 5vh 3vw;
    }
}