/* font-family: 'Lato', sans-serif; */
:root{
    --blue: #294A5A;
}

#main{
    background-color: #eae0d5;
}

#main h1, #cityName{
    font-family: 'Lato', sans-serif;
    font-style: italic;
    color: #294A5A;
}

#main p, #cityName, #currentTemp{
    font-family: 'Lato', sans-serif;
}

#cityName{
    font-size: 30px;
}

#currentTemp{
    font-size: 50px;
}

#date{
    font-size: 20px;
}

.card{
    margin: 20vh 3vw;
}

.card ul{
    list-style: none;
    padding: 0px;
}

#searchBtn{
    background-color: #294A5A;
}

@media (max-width: 768px) {
    #title{
        text-align: center;
    }
    .card{
        margin: 10vh 3vw;
    }
    #cityName{
        font-size: 20px;
    }
    
    #currentTemp{
        font-size: 30px;
    }
    
    #date{
        font-size: 15px;
    }
}

@media (max-width: 426px){
    .card{
        margin: 5vh 3vw;
    }
}